@model IEnumerable<UrlCheck.Models.UrlList>

@{
    ViewData["Title"] = "Index";
}

<h1>Url List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>         
            <th>
                Name
            </th>
            <th>
                Url
            </th>
            <th>
                Email
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                CreatedUserEmail
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Id)
            </td>   
            <td>
                    @(item.Name)
            </td>
            <td>
                    @(item.Url)
            </td>
            <td>
                    @(item.Email)
            </td>
            <td>
                    @(item.CreatedDate)
            </td>
            <td>
                    @(item.CreatedUserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="UrlCheck" asp-route-id="@item.Id">UrlCheck</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
